<ng-container *ngIf="headerConfig">

    <div class="page-content"
         scroll-y="true">

        <wii-panel-header [leftIcon]="headerConfig.leftIcon"
                          [rightIcons]="headerConfig.rightIcon"
                          [title]="headerConfig.title"
                          [transparent]="true"
                          [subtitle]="headerConfig.subtitle"
                          class="page-header">
        </wii-panel-header>

        <wii-form-panel #formPanelComponent
                        *ngIf="creation"
                        [body]="bodyConfig">
        </wii-form-panel>
    </div>

    <div class="page-footer persisted-page-footer">
        <wii-barcode-scanner *ngIf="scannerMode !== undefined"
                             #footerScannerComponent
                             [mode]="scannerMode"
                             (manualAdd)="onRFIDTagScanned($event)"
                             (scanAdd)="onDatamatrixScanned($event)"
                             (cameraAdd)="onDatamatrixScanned($event)">
        </wii-barcode-scanner>

        <ng-container *ngIf="creation">
            <ion-button fill="outline"
                        class="custom-fill-button"
                        expand="block"
                        (touchstart)="onScan2DTouchstart()"
                        (touchend)="onScan2DTouchend()"
                        (touchcancel)="onScan2DTouchend()">
                Scan 2D
            </ion-button>

            <ion-button class="submit-button larger"
                        color="primary"
                        size="large"
                        expand="full"
                        (click)="validate()">
                Valider
                <wii-icon name="check.svg"
                          class="button-icon"
                          color="white">
                </wii-icon>
            </ion-button>
        </ng-container>
        <ng-container *ngIf="!creation">
            <ion-button class="submit-button larger"
                        color="primary"
                        size="large"
                        expand="full"
                        (click)="onRFIDButtonClicked()">
                Scanner RFID
                <wii-icon name="RFID-wifi.svg"
                          width="20px"
                          class="button-icon"
                          color="white">
                </wii-icon>
            </ion-button>
        </ng-container>
    </div>
</ng-container>
