@import "theme/variables";

$spacer: 15px;
$lineHeight: 31px;

.timeline-container {
    padding: 5px 5px 50px;

    &.empty-elements {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        font-size: 18px;
    }

    .line-container {
        display: flex;
        padding-right: $spacer;
        padding-left: $spacer;
        margin-bottom: $spacer;
        font-size: 14px;
        min-height: $lineHeight;

        &:first-child {
            padding-top: $spacer !important;
        }

        // horizontal line
        &:after {
            content: '';
            position: absolute;
            width: 80%;
            height: 1px;
            background-color: $black;
            margin: calc($lineHeight / 2) 0;
            z-index: -1;
        }

        // vertical line
        &:not(:last-child):before {
            content: '';
            position: absolute;
            height: 10%;
            width: 1px;
            background-color: $black;
            margin: calc($lineHeight / 2);
            z-index: -1;
        }

        div {
            display: flex;
        }

        .line-icon {
            width: 1.2rem !important;
            height: 1.2rem !important;
        }

        .field-container {
            box-shadow: $card-box-shadow;
            background-color: $white;
            padding: 5px 10px 5px 5px;
            display: flex;
            align-items: center;
            flex: 1;
            border-radius: 10px;

            .field-value {
                margin-left: 0.5rem;
                width: 100%;
            }
        }

        .order-value,
        .checked-value {
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: $card-box-shadow;
            background-color: $white;
            border-radius: 50%;
            margin-right: $spacer;
            font-weight: bold;

            height: $lineHeight;
            width: $lineHeight;
        }

        .disabled-list {
            background-color: $darkGray !important;
        }

        .background-checked {
            background-color: $list-green-light !important;
        }
    }
}

.counter-container {
    margin-left: 20px;
    color: $tertiary;
    font-weight: bold;
}
