<wii-main-loader [loading]="!hasLoaded"></wii-main-loader>

<div *ngIf="hasLoaded"
     scroll-y="true"
     class="page-content">
    <wii-card-list *ngIf="hasLoaded && dispatches && dispatches.length > 0"
                   [listIconName]="dispatchIconName"
                   [color]="dispatchListColor"
                   [config]="dispatchListConfig">
    </wii-card-list>
</div>

<ion-fab *ngIf="hasLoaded  && !offlineMode"
         vertical="end"
         horizontal="bottom"
         slot="fixed">
    <ion-fab-button color="primary"
                    (click)="onAddClick()">
        <ion-icon class="big-icon" name="add-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>


<ion-fab *ngIf="hasLoaded && offlineMode"
         vertical="end"
         horizontal="bottom"
         slot="fixed">
    <ion-fab-button (click)="onMenuClick()">
        <ion-icon class="big-icon"  name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top"
                  [activated]="fabListActivated">
        <ion-fab-button color="light"
                        (click)="onRefreshClick()">
            <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light"
                        (click)="onGroupedSignatureClick()">
            <wii-icon name="signature.svg" width="15px"></wii-icon>
        </ion-fab-button>
        <ion-fab-button color="light"
                        (click)="onAddClick()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>
