<div class="counter-container">{{ counter(title) }}</div>
<div class="custom-list-container" *ngIf="elements && elements.length !== 0; else emptyElements">
    <div class="fields-container" *ngFor="let field of elements; index as i">
        <span *ngIf="!field.checked" class="order-value {{ disableList || !field.clickable ? 'disabled-list' : ''}}">{{ i+1 }}</span>
        <span *ngIf="field.checked" class="checked-value background-checked {{ (disableList || !field.clickable) ? 'disabled-list' : ''}}">
            <wii-icon class="line-icon" name="check.svg" color="success"></wii-icon>
        </span>
        <span class="field-container {{ disableList || !field.clickable ? 'disabled-list' : ''}} {{ field.checked ? 'background-checked' : '' }}"
              (click)="!disableList && field.clickable && field.action && field.action(field.name)">
            <div>
                <wii-icon *ngIf="field.icon || commonIcon" class="line-icon" name="{{ field.icon || commonIcon?.name }}"></wii-icon>
                <span class="field-value">
                    {{ field.name }}
                </span>
            </div>
            <span *ngIf="field.rightBadge" class="badges-container">
                <wii-badge [config]="field.rightBadge"></wii-badge>
            </span>
        </span>
    </div>
</div>
<ng-template #emptyElements>
    <div class="custom-list-container empty-elements">
        Aucun élément
    </div>
</ng-template>
