<wii-panel-header class="page-header"
                  [transparent]="true"
                  title="Scanner colis contenant"
                  [leftIcon]="{name: 'group.svg'}">
</wii-panel-header>

<div class="page-footer persisted-page-footer">
    <wii-barcode-scanner #footerScannerComponent
                         [mode]="scannerModeManual"
                         (cameraAdd)="onGroupScan($event)"
                         (scanAdd)="onGroupScan($event)"
                         (manualAdd)="onGroupScan($event)">
    </wii-barcode-scanner>
</div>
