@import "theme/variables";

:host {
    display: flex;
}

.tabs-wrapper {
    display: flex;
    flex: 1;
    background-color: $white;

    .tab {
        flex: 1;
        font-size: 14px;
        padding: 0.5rem;
        text-align: center;
        font-weight: bold;
        color: $primary;
        align-content: center;

        &.active {
            background-color: $primary;
            color: $white;
        }

        &.disabled {
            background-color: $disabled;
            color: $medium;
        }
    }
}
